@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'early-edition';
  src: url('/font/EarlyEditionJNL.woff2')
    format('woff2');
}

.logo{
  font-family: early-edition;
  /* text-shadow: 6px 6px  white; */
}